*{
    margin: 0;
    padding: 0;
    list-style: none;
}

#div,#div1,#div2,#div3,#div4,#div5{
    width:100%;
    height: 100%;
    /*如果没有 overflow: hidden;则页面可以连续向下滚动，而不是一个一个页面滑动跳转*/
    overflow: hidden;
    transition: .8s;
    position:relative;
}
/*----------------------导航栏--------------------------------*/
.nav{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    width: 90px;
    padding: 20px 20px 20px 13px;
    z-index: 999;
    background: rgba(0, 0, 0, .4);
}
#nav{
    background: url(../img/menu_line.png) right repeat-y;
    margin-bottom: 20px;
}
#nav li{
    text-align: left;
    width: 90px;
    line-height: 45px;

}
#nav li a{
    display: inline-block;
    text-decoration: none;
    color: rgba(229, 229, 229, .5);
    width: 60px;
    text-align: right;
    font-size: 14px;
}
#nav li.active {
    background: url(../img/menu_on.png) right center no-repeat;
}
#nav li.active a{
    color: #ffe032;
}

.tips .keyboard{
    display: inline-block;
    height: 36px;
    width: 55px;
    margin-right: 5px;
    background: url("../img/keyboard.png") 0 0 ;
}
.tips .mouse{
    display: inline-block;
    height: 36px;
    width: 24px;
    background: url("../img/keyboard.png") -71px 0 ;
}




/*----------------------div1--------------------------------*/

.bg{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
ul.bg li{
    float: left;
    width: 14.28%  ;
    height: 33.33%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

/*#div1*/
.wrap{
    /*用百分比来定义缩放比例。适用于所有元素*/
    zoom:0.65;
}
#blue-bg,
.gray-bg{
    width: 100%;
    height: 100%;
    background: rgba(72,116,209,.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
.gray-bg{
    background: rgba(40,41,42,.9);
}

.enter{
    border: 2px solid #fff;
    color: #fff;
    position: absolute;
    top: 40px;
    left: 75px;
    width: 180px;
    height: 42px;
    /*使垂直居中*/
    line-height: 42px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
.enter em{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../img/back_arrow.png") 0 -10px;
    /*margin也是受zoom的影响的，实际margin-left=5px*/
    margin-right: 8px;
    vertical-align: middle;
}

#div1 .line-t-l{
    position: absolute;
    top: -15px;
    left: 50%;
    width: 168px;
    height: 335px;
    margin-left: -332px;
    background: url(../img/line_t_l.png);
    /*ease:慢开始-变快-慢结束*/
    transition: margin .6s ease;
}
#div1 .line-t-r{
    position: absolute;
    top: 0px;
    left: 50%;
    width: 407px;
    height: 432px;
    margin-left: 182px;
    background: url(../img/line_t_r.png);
    transition: margin .6s ease;
}
#div1 .people{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 763px;
    height: 728px;
    background: url(../img/people.png);
    margin-top: -421px;
    margin-left: -392px;
    transition: top .6s ease;
}
#div1 .line-t-r2{
    position: absolute;
    top: 110.8px;
    left: 50%;
    width: 138px;
    height: 206px;
    background: url(../img/line_t_r2.png);
    margin-left: 237px;
    transition: all .6s ease;
}
#div1 .line-b-l{
    position: absolute;
    top: 530px;
    left: 50%;
    width: 171px;
    height: 174px;
    background: url(../img/line_b_l.png);
    margin-left: -356px;
    transition: all .6s ease;
}
#div1 .line-b-r{
    position: absolute;
    top: 560px;
    left: 50%;
    width: 362px;
    height: 320px;
    background: url(../img/line_b_r.png);
    margin-left: -55px;
    transition:all .6s ease;
}
#div1 .txt-l{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 387px;
    height: 159px;
    margin: -87px 0 0 -534px;
    background: url(../img/txt_left.png);
    transition:margin .5s ease;
}
#div1 .txt-r{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    height: 160px;
    margin: -77px 0 0 129px;
    background: url(../img/txt_right.png);
    transition:margin .5s ease;
}
.down-android{
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 286px;
    height: 64px;
    margin-left: -380px;
    cursor: pointer;
}
.down-ios{
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 286px;
    height: 64px;
    margin-left: 30px;
    cursor: pointer;
}
#div1 .down-android{
    background: url(../img/btn_down.png) 0px 0px;
    transition: all .5s ease;
}
#div1 .down-ios{
    background: url(../img/btn_down.png) -334px 0;
    transition: all .5s ease;
}
.twocode{
    position: absolute;
    bottom: 15%;
    left: 50%;
    width: 154px;
    height: 154px;
    background: #fff url(../img/twocode.png) no-repeat center;
    margin-left: 341.5px;
    border-radius: 3px;
    transition: all .5s ease;
    display: none;
}
.btn-twocode{
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 286px;
    height: 64px;
    line-height: 60px;
    margin-left: 350px;
    transition: all .5s ease;
    cursor: pointer;

}
#div1 .btn-twocode{
    color:white;
}
.btn-twocode em{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/btn_down.png) -665px -20px;
    margin-right: 10px;
    vertical-align: -6px;
}

/*-----------------------------#div2------------------------------*/

#div2{
    background: #e1e7ea url(../img/bg.jpg);
    background-size: cover;
}
#div2 .enter{
    color: #459fe8;
    border-color: #459fe8;
    transition: all .4s .4s ease;
}
#div2 .enter em{
    background: url("../img/back_arrow.png") 0 -40px;
}
.logo{
    position: absolute;
    top: 40px;
    left: 50%;
    width: 261px;
    height: 34px;
    margin-left: -129px;
}
#div2 .logo{
    background: url("../img/logo3.png");
    transition: all .5s ease;
}
#div2 .triangle{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -350px 0 0 -448px;
    width: 424px;
    height: 627px;
    background: url("../img/triangle.png");
    transition: all 1.2s ease;
}
#div2 .mobile-scroll{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 276px;
    height: 280px;
    margin: -62px 0 0 -326px;
    overflow: hidden;
    background: url(../img/mobile_scroll.png) 0px -840px repeat-y;
    transition: background-position 3s ease;
}
#div2 .mobile{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 617px;
    height: 614px;
    margin: -348px 0 0 -510px;
    background: url(../img/mobile.png);
    transition: all .4s ease;
}
#div2 .txt1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 410px;
    height: 136px;
    margin: -290px 0 0 140px;
    background: url("../img/txt3.png");
    transition: all .6s ease;
}
#div2 .txt2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 188px;
    height: 30px;
    line-height: 30px;
    margin: -158px 0 0 145px;
    font: 17px/30px 'Microsoft YaHei', '黑体';
    letter-spacing: 1px;
    color: #fff;
    background: #0ba0ee;
    text-align: center;
    transition: all .8s ease;
}
#div2 .video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 255px;
    margin: -80px 0 0 146px;
    transition: all 1.2s ease;
    
    overflow: hidden;
}
#div2 .video #vtab{
    width: 250px;
    height: 30px;
}
#div2 .video #vtab li{
    float: left;
    width: 125px;
    height: 30px;
    cursor: pointer;
}
#div2 .video .tab-0{
    background: url(../img/tab_video2.png) 0 0 no-repeat;
}
#div2 .video .tab-1{
    background: url(../img/tab_video2.png) 0 -30px no-repeat;
}
#div2 .video .list-video{
    /*这里为什么要设置position:absolute;???-------------------------------*/
    position: absolute;
    width:698px;  /*350*2*/
    height:225px;
    overflow: hidden;
}
#div2 .video .list-video li{
    float: left;
    position: relative;
    width: 349px;
    height: 225px;
}
#div2 .video .list-video span{
    position: absolute;
    top: 65px;
    left: 130px;
    width: 84px;
    height: 93px;
    background: url(../img/btn_play.png);
    cursor: pointer;
}
/*#div2 .video .list-video img{*/
    /*width: 349px;*/
    /*height: 225px;*/
/*}*/
#div2 .down-android{
    bottom: 10%;
    background: url(../img/btn_down.png) 0px -94px;
    transition: all .8s ease;
}
#div2 .down-ios{
    bottom: 10%;
    background: url(../img/btn_down.png) -334px -94px;
    transition: all .8s ease;
}
#div2 .btn-twocode{
    color: #4ea1f7;
}
#div2 .btn-twocode em{
    background: url(../img/btn_down.png) -665px -110px;
}



/*-----------------------------#div3------------------------------*/
#div3{
    background: black;
    opacity: 0.9;
}
#div3 .video-player{
    position: relative;
    width: 100%;
    height: 100% ;
    background-size: cover;
    opacity: .6;
    filter: alpha(opacity=60);
}

#div3 .enter{
    /*第一个时间指过渡时间，第二个时间指延迟时间*/
    transition: all .4s .4s ease;
}
#div3 .logo{
    background: url("../img/logo4.png");
    transition: all .5s ease;
}
#div3 .txt1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 445px;
    height: 170px;
    margin: -180px 0 0 70px;
    background: url("../img/txt2.png");
    transition: all 0.3s ease;
}
#div3 .txt2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 445px;
    height: 28px;
    font: 26px/28px 'Microsoft YaHei', '黑体';
    margin: 0 0 0 80px;
    letter-spacing: 1px;
    color:#fff;
    transition: all .4s ease;
}
#div3 .txt3{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 275px;
    height: 37px;
    margin: 60px 0 0 82px;
    font: 18px/37px 'Microsoft YaHei', '黑体';
    color: #000;
    letter-spacing: 1px;
    background: #fff;
    text-indent: 8px;
    transition: all .5s ease;
}
#div3 .txt4{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 318px;
    height: 37px;
    margin: 110px 0 0 82px;
    font: 18px/37px 'Microsoft YaHei', '黑体';
    color: #000;
    letter-spacing: 1px;
    background: #fff;
    text-indent: 8px;
    transition: all .6s ease;
}
#div3 .btn-play{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 47px;
    height: 52px;
    margin: -10px 0 0 311px;
    background: url(../img/btn_replay.png);
    cursor: pointer;
}
#div3 .video2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 510px;
    height: 365px;
    margin: -215px 0 0 -480px;
    overflow: hidden;
    transition: all 0.5s ease;
}
#div3 #vtab2{
    width: 510px;
    height: 30px;
}
#div3 #vtab2 li{
    float: left;
    width: 123px;
    height: 30px;
    cursor: pointer;
}
#div3 .tab-0 {
    background: url(../img/tab_video.png) 0 0 no-repeat;
}
#div3 .tab-1 {
    background: url(../img/tab_video.png) 0 -30px no-repeat;
}
#div3 .tab-2 {
    background: url(../img/tab_video.png) 0 -60px no-repeat;
}
#div3 .list-video {
    position: absolute;
    left:0;
    width: 1533px; /*1533 = 511 * 3*/
    height: 335px;
}
#div3 .list-video li{
    position: relative;
    float: left;
    width: 511px;
    height: 335px;
}
#div3 .list-video span{
    position: absolute;
    top: 120px;
    left: 210px;
    display: block;
    width: 84px;
    height: 93px;
    background: url(../img/btn_play.png);
    cursor: pointer;
}
/*-----------------------------#div4------------------------------*/
#div4 .enter{
    transition: all 1s 1s ease;
}
#div4 .logo{
    width: 259px;
    height: 34px;
    background: url("../img/logo2.png");
    transition: all 1s ease;
}
#div4 .txt{
    text-align: center;
}
#div4 .txt1{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 340px;
    height: 30px;
    margin: -300px 0 0 -170px;
    font: 20px/30px 'Microsoft YaHei', '黑体';
    color: #fc3f3f;
    transition: all 1s ease;

}
#div4 .txt2{

    position: absolute;
    left: 50%;
    top: 50%;
    width: 340px;
    height: 119px;
    margin:-270px 0 0 -170px ;
    background: url("../img/txt.png");
    transition: all 1s ease;
}
#div4 .txt3{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 340px;
    height: 30px;
    margin:-140px 0 0 -170px ;
    background: #fc3f3f;
    color:black;
    font-size: 18px;
    line-height: 30px;
    transition: all 1s ease;
}
#div4 .tatter{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 994px;
    height: 647px;
    margin: -283px 0 0 -491px;
    background: url("../img/tatter.png");
}
#div4 .manlist{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1070px;
    height: 404px;
    margin: -50px 0 0 -540px;
    transition: all 1s ease;
}
#div4 .manlist li{
    position: absolute;
    width: 222px;
    height: 223px;
    text-align: center;
    color:#fff;
    cursor: pointer;

    /*使div里的内容垂直居中，父元素设为 display: table;子元素设置为display:table-cell ;vertical-align: middle;*/
    display: table;
}
#div4 .manlist div{
    display:table-cell ;
    vertical-align: middle;
    width: 222px;
    height: 223px;
    background: url(../img/manmask.png);
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.4s ease;
}
#div4 .manlist .man-1 {
    top: 0;
    left: 0;
    background: url(../img/man1.png);
}
#div4 .manlist .man-2 {
    top: 113px;
    left: 113px;
    background: url(../img/man2.png);

}
#div4 .manlist .man-3 {
    top: 0;
    left: 225px;
    background: url(../img/man3.png);

}
#div4 .manlist .man-4 {
    top: 130px;
    left: 320px;
    background: url(../img/man4.png);

}
#div4 .manlist .man-5 {
    top: 17px;
    left: 433px;
    background: url(../img/man5.png);

}
#div4 .manlist .man-6 {
    top: 130px;
    left: 546px;
    background: url(../img/man6.png);

}
#div4 .manlist .man-7 {
    top: 17px;
    left: 658px;
    background: url(../img/man7.png);

}
#div4 .manlist .man-8 {
    top: 179px;
    left: 723px;
    background: url(../img/man8.png);

}
#div4 .manlist .man-9 {
    top: 66px;
    left: 836px;
    background: url(../img/man9.png);
}

#div4 .popwin{
    position: absolute;
    left: 50%;
    top:25px;
    width: 826px;
    height: 902px;
    transform: translateX(-50% );
    overflow: hidden;
    display: none;
}
#div4 .btn-left{
    position: absolute;
    top: 50%;
    left: 0px;
    width: 43px;
    height: 77px;
    transform: translateY(-50%);
    background: url("../img/popwin.png") 0 0;
    cursor: pointer;
}
#div4 .btn-right{
    position: absolute;
    top: 50%;
    right: 0;
    width: 43px;
    height: 77px;
    transform: translateY(-50%);
    background: url("../img/popwin.png") 0 -87px;
    cursor: pointer;
}
#div4 .btn-close{
    position: absolute;
    top: 0px;
    left: 732px;
    width: 59px;
    height: 59px;
    background: url("../img/popwin.png") 0 -174px;
    cursor: pointer;
}
#div4 .imglist{
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 50%;
    width: 638px;
    height: 902px;
    transform: translateX(-50%);
    overflow: hidden;
}
#div4 #imglist{
    position: absolute;
    top: 0;
    left: 0;
    width: 5742px;
}
#div4 #imglist li{
    float: left;
    width: 638px;
    height: 902px;
}
/*------------------------------div5--------------------------------------*/
#div5{
    background: url("../img/bg.png") no-repeat center;
    background-size: cover;
}
#div5 .enter{
    border-color: black;
    color:black;
    transition: all 1s 1s ease;
}
#div5 .enter em{
    background: url("../img/back_arrow.png") 0 -70px;
}

#div5 .logo{
    background: url("../img/logo1.png");
}
#div5 .bg_line{
    position: absolute;
    top: 0;
    left: 50%;
    width: 755px;
    height: 923px;
    margin-left: -40px;
    background: url("../img/bg_line.png");
}
#div5 .houxuan{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 647px;
    height: 829px;
    margin-left: -630px;
    background: url("../img/houxuan.png");
    transition: all .8s ease;
}
#div5 .txt1{
    background: url("../img/txt1.png");
    width: 414px;
    height: 170px;
    position: absolute;
    left: 50%  ;
    top: 50%;
    margin: -310px 0 0 120px;
    transition: all .4s ease;
}
#div5 .txt2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 298px;
    height: 37px;
    margin: -135px 0 0 126px;
    font: 18px/37px 'Microsoft YaHei', '黑体';
    color: black;
    background: #f6c156;
    text-align: center;
    letter-spacing: 1px;
    transition: all .8s ease;
}
#div5 .txt3{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 296px;
    height: 64px;
    margin: -70px 0 0 128px;
    background: url('../img/txt2_2.png');
    transition: all 1.0s ease;
}
#div5 .mv{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 20px 0 0 128px;
    transition: all 1.2s ease;
    width: 421px;
    height: 235px;
    cursor: pointer;
    border: 3px solid #ffc03a;
}


/*------------------------------视频模态框--------------------------------------*/
#video{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1000;
    background: rgba(0,0,0,.85);
    display: none;
}

.radius_box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 640px;
    height: 405px;
    margin: -250px 0 0 -340px;
    z-index: 1100;
    padding: 0 20px 20px;
    background: #2d2d2d;
}
#video_title{
    line-height: 45px;
}
.radius_close{
    width: 38px;
    height: 39px;
    background: url(../img/close_video.png) no-repeat;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -38px;
}